.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0cece;
}

.app_header > form {
  width: 40%;
}

.task_input {
  font-size: 20px;
  font-weight: 500;
  background: #ecbaba;
  color: #080808;
  border: 2px solid #f37878;
  padding: 8px 12px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 4px;
}
.task_input::placeholder {
  color: #b83547;
}

.task_form_botton_line {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.task_status {
  font-size: 16px;
  font-weight: 500;
  background-color: #a6c6f7;
  border: 2px solid #58b6c7;
  border-radius: 5px;
  width: 120px;
  padding: 0 5px;
  height: 40px;
}

.task_submit {
  font-size: 16px;
  font-weight: 500;
  background-color: #3acc41;
  color: #ffffff;
  border: 1px solid #dcdcdc;
  padding: 3px 13px;
  margin-left: 10px;
  border-radius: 5px;
  height: 40px;
  border: none;
  cursor: pointer;
}
